
.input input[type="password"] {
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}

.input input[type="text"] {
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}

.password-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.submit-container {
    margin: 20px;
}

.submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #45a049;
}

.submit:disabled {
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .loggin-form {
        padding: 20px;
    }
    
}