


.view-product-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.view-product-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 50%;
}

.product-image{
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 10px;
}

.view-product-container div{
    margin-top: 10px;
}

.get-product-constiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.get-product-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f0c14b;
    border: none;
    cursor: pointer;
}