.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.landing-page-header{
  background-color: #89b9d3;
  width: 100%;
  text-align: center;
}

.landing-page-header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.logga {
  width: 100px;
  height: 100px;
  margin: 1em;
}
.logga:hover {
  transform: scale(1.1);
}

.shoppingCart {
  width: 40px;
  height: 40px;
  margin: 1em;
  position: fixed;
  top: 10px;   
  right: 10px;  
  width: 50px;  
  height: auto; 
  z-index: 1000;
}

.shoppingCart:hover {
  transform: scale(1.1);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  max-width: 3000px;
}

.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 10px 0px;
  max-width: 1300px;
}




.category-text {
  font-size: 1.3rem;
 
  margin: 0;
  margin-top: 10px;

}
.categories-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px;
  max-width: 1000px;
}
.category-btn {
  background-color: #6A38B2;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}


.category-btn:hover {
  transform: scale(1.1);
}

.sort-btns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}
.sort-btns select {
  background-color: #6A38B2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  
}

.sort-btns button:hover {
  transform: scale(1.1);
}
.footer-landing-page {
  background-color: #89b9d3;
  width: 100%;
 
  
}
.sign-in-btn{
  background-color: #323232;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px;
}

.admin{
  margin:  0px 10px;
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .banner {
    height: 150px;
  }
  .banner img {
    height: 150px;
  }
  
  .categories-section {
   
    align-items: center;
    gap: 5px;
    
  }
  .category-btn {
    width: 130px;
    padding: 10px 20px;
  }
  .logga {
    width: 50px;
    height: 50px;
    margin: 1em;
  }
  .shoppingCart {
    width: 30px;
    height: 30px;
    margin: 1em;
  }
  
}


  
