.shopping-cart {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 80%;
    margin: auto;
}

.shopping-cart h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.product-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-info h2 {
    margin-top: 0;
}

.cart-item-info p {
    margin: 5px 0;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button {
    background-color: #6A38B2;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: bold;
}

.cart-item-quantity button:hover {
    background-color: #59299e;
}

.checkout-section {
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.checkout-section p {
    margin: 5px 0;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #FF8865;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: #e47958;
}


.cart-header {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .shopping-cart {
        width: 90%; 
    }

    .product-image {
        width: 120px; 
    }

    .cart-item-quantity button {
        padding: 3px 7px; 
    }
}


@media (max-width: 480px) {
    .shopping-cart {
        width: 95%; 
        padding: 15px;
    }

    .cart-item {
        flex-direction: column; 
        align-items: start;
    }

    .product-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cart-item-quantity button {
        padding: 5px 8px; 
    }
}
