:root {
  font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
  }
  
  

